@media (min-width: 450px) and (max-width: 800px ){
    .menu-opener{
        width: 45px;
        display: block;
    }
    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0,0,0,0.9);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
        
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li a{
        font-weight: bold;
        height: 80px;
        font-size: 20px;
        margin-left: 50px;
        border: 1px solid transparent;
    }
    .menu li.active a{
        border: 0;
        color: #b28756;
    }
    .section-about-us{
        flex-direction: column;
    }
    .section-about-us--left{
        margin-left: 30px;
        margin-right: 50px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-about-us--right{
        width:  auto !important;
    }
    .section-services{
        flex-wrap: wrap;
    }
    .section-service{
        min-width: 50%;
        margin-bottom: 30px;
    }
    .section-service:first-child{
        border-left: 0px;
    }
    .section-team{
        max-width: 580px;
    }
}